.Barra{
    border-style: groove;
    margin-left: 24.8%;
    display: flex;
    margin-top: -80%;
    padding-top: 20%;
    border-radius: 5%;
    background-image: linear-gradient(-135deg, #50CFE3, #366682);
    flex-direction: row;
}

.perfil{
    display: flex;
    border-style: groove;
    margin-left: 10%;
    padding-left: 10%;
    background-color: white;
    margin-top: -15%;
    margin-bottom: 7%;
    border-radius: 10% 10% 10%;
}

.P{
    height: 5vh;
    width: 5vh;
    margin-left: 25%;
    margin-top: 4%;
    border-radius: 50%;
    display: flex;
    padding-right: -10%;
    padding-left: -10%;
    
}

#Saldo{
    color: #676464;
    margin-left: -25%;
}

#pesquisa{
    
    
    
}